* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.md linguist-language=php 
*.yml linguist-language=php 
*.html linguist-language=php 
*.js linguist-language=php 
*.xml linguist-language=php
*.css linguist-language=php 
*.sql linguist-language=php
*.uml linguist-language=php 
*.cmd linguist-language=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
